<section id="edit">
    <form action="/configure" method="post">
        <textarea name="content" cols="70" rows="30"><%= file_content %></textarea>
        <div class="clear">
            <input type="submit" value="configure" />
        </div>
    </form>
</section>
