<% if is_running %>
  <div class="success">
	Server is currently running.
  </div>
<% else %>
  <div class="error">
	Server is currently off.
  </div>
<% end %>

<section id="manage">
	<h2>Choose action:</h2>
	<form action="/start" method="post">
		<input type="submit" value="start" />
	</form>
	<form action="/stop" method="post">
		<input type="submit" value="stop" />
	</form>
	<form action="/update" method="post">
		<input type="submit" value="update" />
	</form>
</section>
