<!doctype html>
<html lang="en">
<head>
	<title><%= 'Elena Minecraft Server' %></title>
	<meta charset="utf8" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="/reset.css" rel="stylesheet" />
	<link href="/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<hgroup>
			<h1><a href="/">Elena Minecraft Server</a></h1>
			<h2>true awesomeness ;]</h2>
		</hgroup>
	</header>
	<%= yield %>
	<footer>
		<small>An app by <a href="https://github.com/dakatapetrov">Yordan Petrov</a>.</small>
	</footer>
</body>
</html>
